// The variables here power the main theme and dark mode
// Quasar SCSS (& Sass) Variables

$primary        : #233C45;
$secondary      : #738186;
$accent         : #9ACA3C;

$dark           : #1D1D1D;
$light          : #F1F1F1;

$positive      : #21BA45;
$warning       : #D8BA28;
$negative      : #F15722;
$info          : #62ACC9;
